.binary-background {
    min-width: 390px;
    height: 100vh;
    display: inline-flex;
    overflow: hidden;
}

.binary {
    opacity: 90%;
    filter: blur(2px);
    font-size: 30px;
    z-index: 1;
    width: 10px;
    max-height: 100vh;
    padding: 5px;
    margin: 0 5px;
    margin: 0 5px;
    background: linear-gradient(to bottom,#06414e, #048ABF, #80e6f1) no-repeat;
    background-clip: text;
    color: transparent;
    -webkit-text: transparent;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}
