
/* Fonts */
h1,
h2,
h3 {
  font-family: 'Source Code Pro', monospace;
  text-align: center;
}

h1{
  font-size: calc(5px + 5vmin);
  font-weight: 600;
}

h2 {
font-size: 1.7rem;
font-weight: 500;
}

button,
a {
  font-family: 'Lato', sans-serif;
}


/* Link colors */
a{
  color: rgb(255, 230, 147);
  
}

a:hover{
  color: rgb(255, 164, 45);
}

a:active {
  background-color: beige;
}

/*Button*/

#startQuiz:hover,
#resetButton:hover {
  background-color: rgb(96, 196, 166);
  color: white;
}

#startQuiz:active,
#resetButton:active {
  background-color: rgb(67, 100, 150);
  color: white;
}

/*App Container*/
.App {
  text-align: center;
  background-color: rgb(5, 5, 5);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}