h1,
h2,
h3 {
  font-family: "B612 Mono", monospace;
  text-align: center;
}

p,
button,
a {
  font-family: "Noto Sans", sans-serif;
  margin: 7px;
}

.App {
  text-align: center;
  background-color: rgb(5, 5, 5);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

h1{
    font-size: calc(5px + 5vmin);
}

h2 {
  font-size: 1.7rem;
}

#startQuiz:hover,
#resetButton:hover {
  background-color: rgb(96, 196, 166);
  color: white;
}

#startQuiz:active,
#resetButton:active {
  background-color: rgb(67, 100, 150);
  color: white;
}
