.message {
    width: 60vw;
    min-height: 30vh;
    padding: 20px;
    background-color: rgb(16, 96, 107);
    z-index: 3;
    opacity: 95%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.message > p {
    color: white;
    font-size: 20px;
    margin: 0;
    line-height: 1.8;
    font-family: 'Lato', sans-serif;
}