.options {
    background-color: rgb(6, 73, 88);
    border: 1.8px solid rgb(255, 183, 0);
    margin: 7px;
    padding: 12px;
    width: 90%;
    color: white;
    font-size: 18px;
    border-radius: 10px;
}

.options:hover {
    cursor: pointer;
    background-color: rgb(114, 183, 204);
    color: black;
}

.options:active {
    background-color: rgb(9, 50, 65);
    color: white;
}