.mainBG{
    height: 100vh;
    overflow: hidden;
    background-color: rgb(5, 5, 5);
}

#overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}


.background1 {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    max-height: 100vh;
    max-width: 100vw;
    display: inline-flex;
    overflow: hidden;
}