.mainBG{
    height: 100vh;
    overflow: hidden;
}

#overlay {
    position: absolute;
    z-index: 3;
    height: 100%;
    width: 100%;
}


.background1 {
    height: 100vh;
    width: 100vw;
    z-index: -1;
    display: inline-flex;
    overflow-x: hidden;
}